@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .......common css start */
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #E8EDF2;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
}

/* .......common css end */

/* ...from box start */
.logobox{
    display: none;
}
.box , .logobox{
    
  
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 40px 40px;
}

/* from heading css start */

.box h2 ,.logobox h2{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #07070C;

}

.box p, .logobox p{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    color: #7E7E8F;
    margin-top: 5px;
    margin-bottom: 30px;
}
/* from heading css end */

/* from label css start */

.box .name label, .box .email label
,.box .Gender label
,.box .password label
,.box .ConfirmPassword label
,.logobox .email label ,.logobox .logopassword label {

    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #07070C;
   
}

/* from label css end */

/* from inputdiv css start */

.box .name  .inputName, .box .email .EmailName
,.box .Gender .genderChoice ,.box .password .passwordField ,.box .ConfirmPassword .confrimPasswordfield 
,.box .logopassword .passwordField  ,.logobox .email .EmailName ,.logobox .logopassword .passwordField{

    width:360px;
    padding: 13px 16px;
    border-radius: 8px;
    border: 1px solid #E8EDF2;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* from inputdiv css end */

/* from input css start */

.box .name  input, .box .email input
,.box .Gender .genderChoice .Genderselect ,.box .password .passwordField  input ,.box .ConfirmPassword .confrimPasswordfield  input
,.box .logopassword .passwordField input ,.logobox .email .EmailName input ,.logobox .logopassword .passwordField input{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #C6CBD9;
    border: none;
    outline: none;
    width: 100%;

}
.box h3{

     font-size: 14px;
     font-weight: 400;
     font-family: "Poppins", sans-serif;
     color: #07070C;
     text-align: center;
     margin-top: 20px;

}
.box .signnin{

    color: #7364DB;
}

/* from input css start */

/* login box css start */



/* login box css end */

.logoIamge{

    width: 64px;
    margin: 0 auto;
}


/* icon css start */ 

.box .name .inputName .profile,
.box .email .EmailName .email ,.box .password .passwordField,.ConfirmPassword ,.box .logopassword .passwordField 
.iconpassword ,.icon2password ,.iconLoginPass  ,.logobox .email .iconLoginPass,.email {

    color: #9A9AAF;
    font-size: 16px;

}
/* icon css start */

/* ---button css start */

.box  button,.logobox button{
    width:400px;
    border-radius: 8px;
    background-color: #7364DB;
    border: none;
    padding: 14px 150px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #FFFFFF;

  
}
/* ---button css start */

/* from box end */

/* fbox css start  */



/* fbox css end  */



/* ---custom select css start */

select ,::picker(select){

    appearance:base-select;
    border: none;
}
selectedcontent ,option{
    background-color: #FFFFFF;
    padding: 10px 10px;
    color: #07070C;
    display: flex;
    gap: 5px;
    
}
select ,option{
    border: none;
}
select:active,  select:focus {
  outline: none;
  box-shadow: none;
}

option::checkmark {
    display: none !important;
}

option:checked{
    background-color:#7364DB;
}
/* ---custom select css end */

